<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
 <div class="wrapper">
        
            {{>header}}
            <div class="content">
                <img src="img/anh_20184177.jpg" style="width: 250px;height:300px;"> 
            </div>
            {{>footer}}
   </div>
</body>
</html>