<div class="header">
    <div id="top-header">
        <div class="myname"><h1>Quan</h1></div>

        <ul id="nav">
            <li><a href="home">Home</a></li>
            <li><a href="weather">Weather</a></li>
            <li><a href="about">About Me</a></li>
            <li><a href="help">Help</a></li>
         </ul>

    </div>
 <div id="title"><h1>{{title}}</h1></div>
</div>